# Packages
.yalc
yalc.lock
node_modules/
package-lock.json

# Build
dist/
*.tsbuildinfo

# Logs
*.log

# OS
.DS_Store

# IDE
.idea/

# Tests
coverage/
.jest/

# Vi
*.swp

# Deployment
__deployer__.zip
.deployed
